f5_test.py
test_models.py
voice-test_whaa-preface.txt
deprecated/*
Ultimate-RVC-WebUI/*
models/*
logs/*
output/*
test_liam.wav
audio/*
run_rvc.py
.DS_Store
core-requirements.txt
__pycache__/*
misc/*
raw/*
night.bat
train_my_voice.bat
train-model.bat
samples/*
dramatic_scene.mp3
output.mp3
.vscode/settings.json
core/__pycache__/*
engines/__pycache__/*
managers/__pycache__/*
preprocessing/__pycache__/*
files.txt.txt
batch_script.bat
voice_test.wav
